<div class=" hbox hbox-auto-xs bg-light ">
    <div class="panel panel-default">
        <div class="panel-heading">
            Invoice Lunas - List
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>No Invoice</th>
                        <th>Nama Pemesan</th>
                        <th>No HP</th>
                        <th>Tgl Berangkat</th>
                        <th>Tgl Buat</th>
                        <th>Dibuat Oleh</th>
                        <th>Diedit Oleh</th>
                        <th>History Harga</th>
                        <th>Lunas Pada</th>
                        <th>Lunas Oleh</th>
                        <th>Pembayaran</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fadeInRight animated" ng-repeat="(key, value) in listInvoice |  orderObjectBy:'CreatedAt':true">
                        <td><a ng-click="detailInvoice(value.CreatedAt)">{{value.CreatedAt}}</a></td>
                        <td><a ng-click="detailInvoice(value.CreatedAt)">{{value.Pemesan}}</a>
                        </td>
                        <td>{{value.MobilePemesan}}</td>
                        <td title="{{value.KapalNama}}">{{getBerangkatDate(value.TglBerangkat)}}</td>

                        <td>
                            <span title="{{value.CreatedAt | date:'dd-MM-yyyy HH:mm:ss'}}">
                            {{timeFromNow(value.CreatedAt)}}
                            </span>
                        </td>
                        <td>
                            <span class="thumb-sm avatar m-t-n-sm m-b-n-sm m-l-sm">
                            <a ng-href="https://www.facebook.com/{{getUserByUid(value.CreatedBy).facebook.id}}" target="_blank">
                            <img ng-src="https://graph.facebook.com/{{getUserByUid(value.CreatedBy).facebook.id}}/picture?type=square" tooltip="{{getUserByUid(value.CreatedBy).facebook.displayName}}" style="width:80%;">
                            </a>
                            </span>

                        </td>
                        <td>
                            <span class="thumb-sm avatar m-t-n-sm m-b-n-sm m-l-sm">
                            <a ng-href="https://www.facebook.com/{{getUserByUid(value.UpdatedBy).facebook.id}}" target="_blank">
                            <img ng-src="https://graph.facebook.com/{{getUserByUid(value.UpdatedBy).facebook.id}}/picture?type=square" tooltip="{{value.UpdatedAt | date:'dd-MM-yyyy HH:mm:ss'}}" style="width:80%;">
                            </a>
                            </span>
                        </td>

                        <td>
                            <ol style="margin-left: -20px;">
                                <li ng-repeat="subvalue in value.TotalHistory" title="{{getUserByUid(subvalue.HargaBy).facebook.displayName}}">Rp.{{subvalue.Harga | number:0}},-</li>
                            </ol>
                        </td>
                        <td>
                            <span title="{{value.LunasAt | date:'dd-MM-yyyy HH:mm:ss'}}">
                            {{timeFromNow(value.LunasAt)}}
                            </span>
                        </td>
                        <td>
                            <span class="thumb-sm avatar m-t-n-sm m-b-n-sm m-l-sm">
                            <a ng-href="https://www.facebook.com/{{getUserByUid(value.LunasBy).facebook.id}}" target="_blank">
                            <img ng-src="https://graph.facebook.com/{{getUserByUid(value.LunasBy).facebook.id}}/picture?type=square" tooltip="{{getUserByUid(value.LunasBy).facebook.displayName}}" style="width:80%;">
                            </a>
                            </span>

                        </td>
                        <td>
                            {{value.LunasMethod}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">


                </div>
                <div class="col-sm-4 text-center">
                    <a ng-click="loadMore()" ng-show="showLoadMore()"><small class="text-info inline m-t-sm m-b-sm">Load more...</small></a>
                </div>
            </div>
        </footer>
    </div>

</div>
