<div class=" hbox hbox-auto-xs bg-light ">
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage Kasir
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" style="border: 1px solid black;">
                <thead>
                    <tr>
                        <th>Pesawat</th>
                        <th>PAX</th>
                        <th>Cash</th>
                        <th>Transfer</th>
                        <th>EDC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1158274528</td>
                        <td>1</td>
                        <td>Rp.1,000,000</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

</div>
