<div class="panel panel-default">
    <div class="panel-heading">
        Shift Kasir - Detail
        <b>({{getDate(selectedShift.Tanggal)}} - Shift: {{selectedShift.Shift}})</b>
        <span class="pull-right">
            <a class="btn btn-xs btn-primary" ng-click="toNewShift()">Shift Baru</a>
            <b>
            BUKA: {{getHour(selectedShift.Buka)}}  
            <i class="fa fa-arrow-right"></i>
            TUTUP: {{getHour(selectedShift.Tutup)}}
            </b>
        </span>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size:12px; border: 1px solid black;">
                    <thead>
                        <tr>
                            <th style="width:300px;">Modal</th>
                            <th>Keterangan</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in selectedShift.Pemasukan">
                            <td> <a ng-hide="lockPemasukan || countPemasukan() == 1" class="btn btn-default btn-xs" ng-click="rmPemasukan(key)">-</a> {{value.CreatedAt | date : 'dd/MM/yy HH:mm'}}
                            </td>
                            <td>
                                <input type="text" ng-model="value.Keterangan" ng-disabled="lockPemasukan">
                            </td>
                            <td>
                                <input type="number" ng-model="value.Jumlah" ng-disabled="lockPemasukan">
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                <a ng-hide="lockPemasukan" class="btn btn-default btn-xs" ng-click="tambahPemasukan()">+</a>
                            </th>
                            <th>
                                <a ng-show="lockPemasukan" class="btn btn-xs btn-warning" ng-click="editPemasukan()">EDIT</a>
                                <a ng-hide="lockPemasukan" class="btn btn-xs btn-success" ng-click="savePemasukan()">SAVE</a>
                            </th>
                            <th class="text-right">Rp.{{totalJumlah(selectedShift.Pemasukan) | number :0}},-</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size:12px; border: 1px solid black;">
                    <thead>
                        <tr>
                            <th style="width:300px;">Pengeluaran</th>
                            <th>Keterangan</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in selectedShift.Pengeluaran">
                            <td> <a ng-hide="lockPengeluaran || countPengeluaran() == 1" class="btn btn-default btn-xs" ng-click="rmPengeluaran(key)">-</a> {{value.CreatedAt | date : 'dd/MM/yy HH:mm'}}
                            </td>
                            <td>
                                <input type="text" ng-model="value.Keterangan" ng-disabled="lockPengeluaran">
                            </td>
                            <td>
                                <input type="number" ng-model="value.Jumlah" ng-disabled="lockPengeluaran">
                            </td>
                        </tr>
                        <tfoot>
                            <tr>
                                <th>
                                    <a ng-hide="lockPengeluaran" class="btn btn-default btn-xs" ng-click="tambahPengeluaran()">+</a>
                                </th>
                                <th>
                                    <a ng-show="lockPengeluaran" class="btn btn-xs btn-warning" ng-click="editPengeluaran()">EDIT</a>
                                    <a ng-hide="lockPengeluaran" class="btn btn-xs btn-success" ng-click="savePengeluaran()">SAVE</a>
                                </th>
                                <th class="text-right">Rp.{{totalJumlah(selectedShift.Pengeluaran) | number :0}},-</th>
                            </tr>
                        </tfoot>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size:12px; border: 1px solid black;">
                    <thead>
                        <tr>
                            <th>Modal - Pengeluaran</th>
                            <th class="text-right">{{SelisihModalPengeluaran | number: 0}}</th>
                        </tr>
                        <tr>
                            <th>Kapal + Pesawat (Cash)</th>
                            <th class="text-right">{{PenjualanCash | number: 0}}</th>
                        </tr>
                        <tr>
                            <th>Total </th>
                            <th class="text-right">{{ModalDanPenjualan | number: 0}}</th>
                        </tr>
                        <tr>
                            <th>Selisih Dengan Kasir </th>
                            <th class="text-right">{{SelisihKasir | number: 0}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size:12px; border: 1px solid black;">
                    <thead>
                        <tr>
                            <th style="width:20px;">Kasir</th>
                            <th style="width:20px;">Nominal</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.SeratusRibu" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.100,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.SeratusRibu, 100000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.LimaPuluhRibu" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.50,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.LimaPuluhRibu, 50000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.DuaPuluhRibu" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.20,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.DuaPuluhRibu, 20000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.SepuluhRibu" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.10,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.SepuluhRibu, 10000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.LimaRibu" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.5,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.LimaRibu, 5000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.DuaRibu" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.2,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.DuaRibu, 2000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.Seribu" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.1,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.Seribu, 1000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.LimaRatus" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.500,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.LimaRatus, 500) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.DuaRatus" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.200,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.DuaRatus, 200) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.Kasir.Seratus" ng-disabled="lockKasir">
                            </td>
                            <td>Rp.100,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.Seratus, 100) | number :0}},-</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                <a ng-show="lockKasir" class="btn btn-xs btn-warning" ng-click="editKasir()">EDIT</a>
                                <a ng-hide="lockKasir" class="btn btn-xs btn-success" ng-click="saveKasir()">SAVE</a>
                            </th>
                            <th class="text-right">
                                Total:
                            </th>
                            <th class="text-right">
                                Rp.{{totalKasir(selectedShift.Kasir) | number :0}},-
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size:12px; border: 1px solid black;">
                    <thead>
                        <tr>
                            <th style="width:20px;">Kasir Tutup</th>
                            <th style="width:20px;">Nominal</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.SeratusRibu" disabled>
                            </td>
                            <td>Rp.100,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.KasirTutup.SeratusRibu, 100000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.LimaPuluhRibu" disabled>
                            </td>
                            <td>Rp.50,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.KasirTutup.LimaPuluhRibu, 50000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.DuaPuluhRibu" disabled>
                            </td>
                            <td>Rp.20,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.Kasir.DuaPuluhRibu, 20000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.SepuluhRibu" disabled>
                            </td>
                            <td>Rp.10,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.KasirTutup.SepuluhRibu, 10000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.LimaRibu" disabled>
                            </td>
                            <td>Rp.5,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.KasirTutup.LimaRibu, 5000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.DuaRibu" disabled>
                            </td>
                            <td>Rp.2,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.KasirTutup.DuaRibu, 2000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.Seribu" disabled>
                            </td>
                            <td>Rp.1,000,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.KasirTutup.Seribu, 1000) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.LimaRatus" disabled>
                            </td>
                            <td>Rp.500,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.KasirTutup.LimaRatus, 500) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.DuaRatus" disabled>
                            </td>
                            <td>Rp.200,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.KasirTutup.DuaRatus, 200) | number :0}},-</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="selectedShift.KasirTutup.Seratus" disabled>
                            </td>
                            <td>Rp.100,-</td>
                            <td class="text-right">Rp.{{multiplyBy(selectedShift.KasirTutup.Seratus, 100) | number :0}},-</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>

                            </th>
                            <th class="text-right">
                                Total:
                            </th>
                            <th class="text-right">
                                Rp.{{totalKasir(selectedShift.KasirTutup) | number :0}},-
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size:12px; border: 1px solid black;">
                    <thead>
                        <tr>
                            <th style="width:20px">Pesawat</th>
                            <th>PAX</th>
                            <th>Cash</th>
                            <th>Transfer</th>
                            <th>EDC Debet</th>
                            <th>EDC Kredit</th>
                            <th>KTG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in lunasPesawat">
                            <td>{{key}}</td>
                            <td>{{value.TotalPax | number :0}}</td>
                            <td class="text-right">{{value.LunasCash | number :0}}</td>
                            <td class="text-right">{{value.LunasTransfer | number :0}}</td>
                            <td class="text-right">{{value.LunasEDCDebet | number :0}}</td>
                            <td class="text-right">{{value.LunasEDCKredit | number :0}}</td>
                            <td class="text-right">{{value.LunasKTG | number:0}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                Total: {{TotalLunasPesawat.totalRow}}
                            </th>
                            <th>
                                {{TotalLunasPesawat.totalPax}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPesawat.totalCash | number :0}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPesawat.totalTransfer | number :0}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPesawat.totalEDCDebet | number :0}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPesawat.totalEDCKredit | number :0}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPesawat.totalKTG | number :0}}
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size:12px; border: 1px solid black;">
                    <thead>
                        <tr>
                            <th style="width:20px">Kapal</th>
                            <th>PAX</th>
                            <th>Cash</th>
                            <th>Transfer</th>
                            <th>EDC Debet</th>
                            <th>EDC Kredit</th>
                            <th>KTG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in lunasPelni">
                            <td>{{key}}</td>
                            <td>{{value.TotalPax | number :0}}</td>
                            <td class="text-right">{{value.LunasCash | number :0}}</td>
                            <td class="text-right">{{value.LunasTransfer | number :0}}</td>
                            <td class="text-right">{{value.LunasEDCDebet | number :0}}</td>
                            <td class="text-right">{{value.LunasEDCKredit | number :0}}</td>
                            <td class="text-right">{{value.LunasKTG | number:0}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                Total: {{TotalLunasPelni.totalRow}}
                            </th>
                            <th>
                                {{TotalLunasPelni.totalPax}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPelni.totalCash | number :0}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPelni.totalTransfer | number :0}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPelni.totalEDCDebet | number :0}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPelni.totalEDCKredit | number :0}}
                            </th>
                            <th class="text-right">
                                {{TotalLunasPelni.totalKTG | number :0}}
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
