<!-- LIST PEGAWAI -->

<div class="panel panel-default" ng-show="checkView('List')">
    <div class="row wrapper">
        <div class="col-sm-5 m-b-xs">
            <button class="btn btn-sm btn-primary" ng-click="toCreate()">Pegawai Baru</button>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="input-sm form-control" ng-model="search" placeholder="Search">
                <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th style="width:20px;">No</th>
                    <th>NIP</th>
                    <th>Name</th>
                    <th>Dept</th>
                    <th>Finger</th>
                    <th>Hak Mesin</th>
                    <th>P/W</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="value in ListPegawai | filter:search">
                    <td>{{value.Pin}}</td>
                    <td>{{value.EmpId}}</td>
                    <td>
                        <a class="text-info" ng-click="Detail(value)">
                            {{value.Name}}
                        </a> 
                    </td>
                    <td>
                        {{value.DeptName}}  &nbsp;&nbsp;
                        <script type="text/ng-template" id="modalempsmove.html">
                            <div ng-include="'views/emps/empsmove-modal.html'"></div>
                        </script>
                        <span class="label bg-primary" ng-click="moveEmp(value)" tooltip="Pindah Pegawai">
                            <i class="fa fa-share"></i>
                        </span>
                    </td>
                    <td>
                        {{countFinger(value.Fingers)}} &nbsp;&nbsp;
                        <script type="text/ng-template" id="modalemps.html">
                            <div ng-include="'views/emps/emps-modal.html'"></div>
                        </script>
                        <span class="label bg-primary" ng-click="open(value)" tooltip="Ambil Sampel Finger">
                            <i class="fa fa-plus"></i>
                        </span>
                    </td>
                    <td>{{getPreName(value.Pri)}}</td>
                    <td>{{getSex(value.Sex)}}</td>
                    <td>{{value.Email}}</td>
                    <td>{{value.Mobile}}</td>
                    <td>
                        <input type="checkbox" ng-model="value.Active" disabled>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-4 hidden-xs">

            </div>
            <div class="col-sm-4 text-center">
                <a ng-click="loadMore()" ng-show="showLoadMore()"><small class="text-info inline m-t-sm m-b-sm">Load more...</small></a>
            </div>
        </div>
    </footer>
</div>
<!-- LIST PEGAWAI END -->

<!-- NEW PEGAWAI -->


<div class="panel panel-default" ng-show="checkView('Create')">
    <div class="panel-body">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">NIP</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="newEmp.EmpId" placeholder="ID Pegawai, cth: NIP">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="newEmp.Name" placeholder="Nama Pegawai">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">P/W</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="newEmp.Sex">
                        <option value="">-Pilih-</option>
                        <option value="m">Pria</option>
                        <option value="f">Wanita</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Dept</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="newEmp.Grp">
                        <option value="">-Pilih Departemen-</option>
                        <option ng-repeat="(key, value) in ListDepartemen" value="{{key}}">{{value.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang" ng-model="newEmp.Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Mobile</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang" ng-model="newEmp.Mobile">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toList()">Cancel</button>
                    <button class="btn btn-success" ng-click="create()">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- NEW PEGAWAI END-->

<!-- DETAIL PEGAWAI -->

<div class="panel panel-default" ng-show="checkView('Detail')">
    <div class="panel-body">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang" value="{{emp.Pin}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">NIP</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{emp.EmpId}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{emp.Name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">P/W</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{getSex(emp.Sex)}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Dept</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{emp.DeptName}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hak Mesin</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{getPreName(emp.Pri)}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{emp.Email}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Mobile</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{emp.Mobile}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Active</label>
                <div class="col-sm-10">
                    <input type="checkbox" ng-model="emp.Active" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Finger</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{emp.Finger}}" disabled>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toList()">Cancel</button>
                    <button class="btn btn-info" ng-click="toEdit()">Edit</button>
                    <button class="btn btn-primary" ng-click="toMove()">Pindah</button>

                </div>
            </div>
        </form>
    </div>
</div>

<!-- DETAIL PEGAWAI END -->

<!-- EDIT PEGAWAI -->

<div class="panel panel-default" ng-show="checkView('Edit')">
    <div class="panel-body">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang" ng-model="emp.Pin" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">NIP</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang" ng-model="emp.EmpId">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang" ng-model="emp.Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">P/W</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="emp.Sex">
                        <option value="">-Pilih-</option>
                        <option value="m">Pria</option>
                        <option value="f">Wanita</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Dept</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="emp.Grp">
                        <option value="">-Pilih Departemen-</option>
                        <option ng-repeat="(key, value) in ListDepartemen" value="{{key}}">{{value.Name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Hak Mesin</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="emp.Pri">
                        <option value="0">Pegawai</option>
                        <option value="1">Supervisor</option>
                        <option value="14">Admin</option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang" ng-model="emp.Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Mobile</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang" ng-model="emp.Mobile">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Active</label>
                <div class="col-sm-10">
                    <input type="checkbox" ng-model="emp.Active">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Finger</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang" ng-model="emp.Finger" disabled>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toDetail()">Cancel</button>
                    <button class="btn btn-success" ng-click="update()">Update</button>

                </div>
            </div>
        </form>
    </div>
</div>

<!-- EDIT PEGAWAI END-->

<!-- PINDAH PEGAWAI -->

<div class="panel panel-default" ng-show="checkView('Move')">
    <div class="panel-body">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">Pin</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Pin" ng-model="emp.Pin" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">EmpId</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="EmpId" ng-model="emp.EmpId" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Name" ng-model="emp.Name" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Company</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Dept</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Dept" ng-model="emp.Dept">
                </div>
            </div>


            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toDetail()">Cancel</button>
                    <button class="btn btn-success" ng-click="toDetail()">Pindahkan</button>

                </div>
            </div>
        </form>
    </div>
</div>

<!-- PINDAH PEGAWAI END -->
