<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Stock &amp; Penjualan Pelni</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="clearfix">
                        <a href class="pull-left thumb-md avatar b-3x m-r">
                            <img src="img/virgo-stock.png" class="bg-danger" alt="...">
                        </a>
                        <div class="clear">
                            <div class="h3 m-t-xs m-b-xs">
                                Virgo Ekspres
                                <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                            </div>
                            <small class="text-strong">Agen Resmi Pelni</small>
                        </div>
                    </div>
                </div>
                <div class="list-group no-radius alt">
                    <a class="list-group-item" href>
                        <span class="badge bg-primary">{{sumTiketBaik}}</span>
                        <i class="fa fa-stack-overflow fa-fw text-muted"></i> Stock Tiket
                    </a>
                    <a class="list-group-item" href>
                        <span class="badge bg-info">{{sumTiketIssuedMonth}}</span>
                        <i class="fa fa-calendar fa-fw text-muted"></i> Penjualan Bulan : 
                        <b>Januari 2014</b>
                    </a>
                    <a class="list-group-item" href>
                        <span class="badge bg-success">{{sumTiketIssuedDay}}</span>
                        <i class="fa fa-calendar-o fa-fw text-muted"></i> Penjualan Hari &nbsp;&nbsp;&nbsp; : 
                        <b>Kamis, 15 Januari 2014</b>
                    </a>
                </div>
                <div class="hbox text-center b-t b-light">
                    <a href class="col padder-v text-muted b-r b-light">
                        <div class="h4">Hari Sebelumnya</div>
                        <span>Rabu, 14 Januari 2014</span>
                    </a>
                    <a href class="col padder-v text-muted">
                        <div class="h4">Hari Selanjutnya</div>
                        <span>Jumat, 16 Januari 2014</span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>
