<div class="hbox hbox-auto-xs bg-light ">
    <div class="panel panel-default">
        <div class="panel-heading">
            Invoice Pelni Lunas - Detail
        </div>
        <div class="row wrapper" ng-show="selectedInvoice">
            <img src="img/virgo.png" class="center-block">
            <hr style="margin-top:0px; margin-bottom:0px;">
            <h4 class="text-center"><b>INVOICE KAPAL</b></h4>

            <div class="col-sm-6 m-b-xs" style="font-size:15px;">
                No Invoice: <b style="font-size:17px;"><u>{{selectedInvoice.CreatedAt}}</u></b>
                <br> Kapal: <b id="_id88" name="_id88">{{selectedInvoice.Kapal}} {{selectedInvoice.KapalNama}}</b>
                <br> Tanggal Berangkat: <b id="_id96" name="_id96"> {{getBerangkatDate(selectedInvoice.TglBerangkat)}} </b>
                <br> Pelayaran:
                <b id="_id132" name="_id132">{{selectedInvoice.Embar}} {{selectedInvoice.EmbarNama}} - {{selectedInvoice.EmbarCall}}</b>
                <i class="fa fa-arrow-right"></i>
                <b id="_id116" name="_id116">{{selectedInvoice.Debar}} {{selectedInvoice.DebarNama}} - {{selectedInvoice.DebarCall}}</b>


                <!-- embarkasi call _id118 debarkasi call _id134  -->
                <br> Kelas:
                <label class="label bg-success" id="_id175" name="_id175">{{selectedInvoice.KelasNama}}</label>
                <input type="checkbox" ng-model="selectedInvoice.NonSeat"> Non Seat
                <br>
                <br> Dewasa: <b>Rp.{{dataKelas.Dewasa | number :0}},-</b>
                <br> Anak &nbsp;&nbsp;&nbsp;&nbsp; : <b>Rp.{{dataKelas.Anak | number :0}},-</b>
                <br> Bayi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <b>Rp.{{dataKelas.Bayi | number :0}},-</b>

                <br>
            </div>

            <div class="col-sm-6">

                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Nama Pemesan</label>
                    <div class="col-lg-8">
                        <input id="_id212" name="_id212" type="text" class="form-control input-sm" placeholder="Nama Pemesan" ng-model="selectedInvoice.Pemesan" maxlength="50" disabled>
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">No HP</label>
                    <div class="col-lg-8">
                        <input id="_id217" name="_id217" type="text" class="form-control input-sm" placeholder="No HP" ng-model="selectedInvoice.MobilePemesan" maxlength="15" disabled>
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Alamat</label>
                    <div class="col-lg-8">
                        <input id="_id222" name="_id222" type="text" class="form-control input-sm" placeholder="Alamat" ng-model="selectedInvoice.AlamatPemesan" maxlength="50" disabled>
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Tipe Booking</label>
                    <div class="col-lg-8">
                        <select class="form-control input-sm" ng-model="selectedInvoice.TipeBooking" id="_id158" name="_id158" disabled>
                            <option value="0">Partial</option>
                            <option value="1">Full</option>
                        </select>
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Jenis Booking</label>
                    <div class="col-lg-8">
                        <select class="form-control input-sm" ng-model="selectedInvoice.JenisBooking" id="_id158" name="_id158" disabled>
                            <option value="0">Umum</option>
                            <option value="1">Keluarga</option>
                            <option value="2">Single Of Ocupancy</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <table class="table table-bordered b-t b-dark" style="font-size:12px;" ng-show="selectedInvoice">
            <thead style="background-color: #F6F8F8;">
                <tr>
                    <th style="width:75px;">No</th>
                    <th>Nama Penumpang</th>
                    <th style="width:120px;">Status</th>
                    <th style="width:130px;">Umur </th>

                    <th style="width:190px;">Harga</th>
                    <th style="width:190px;">Adm Travel</th>
                    <th style="width:190px;">Sub Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in selectedInvoice.ListPng">
                    <td>
                        &nbsp;&nbsp;{{getNoUrut(key)}}
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Nama Penumpang" ng-model="value.Nama" maxlength="50" disabled>
                    </td>
                    <td>
                        <select class="form-control input-sm" ng-model="value.Status" ng-change="hitungHarga(value)" disabled>
                            <option value="">-Status-</option>
                            <option value="Pria">Pria</option>
                            <option value="Wanita">Wanita</option>
                            <option value="Anak">Anak</option>
                            <option value="Bayi">Bayi</option>
                        </select>
                    </td>
                    <td>

                        <div class="input-group">
                            <input type="text" class="form-control input-sm" ng-model="value.Umur" maxlength="3" disabled>
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" disabled>{{value.Tipe}}
                                </button>
                            </span>
                        </div>
                    </td>
                    <td class="text-right">
                        Rp.{{value.Harga | number :0}},-
                    </td>
                    <td class="text-right">
                        Rp.{{value.ServiceFee | number :0}},-
                    </td>
                    <td class="text-right">
                        Rp.{{value.SubTotal | number :0}},-
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">
                        <div class="input-group">
                            <span class="text-danger " ng-show="errMsg">{{errMsg}}</span>
                        </div>
                        <div class="pull-right">
                            <div class="input-group" ng-hide="lunasBool(selectedInvoice.LunasAt) == 'Ya' ">
                                <select class="form-control input-sm" ng-model="selectedInvoice.LunasMethod">
                                    <option value="Cash">Cash</option>
                                    <option value="Transfer">Transfer</option>
                                    <option value="EDC">EDC</option>
                                </select>
                                 <span class="input-group-btn">
                                <a class="btn btn-primary btn-sm" ng-click="lunas()">Lunas</a>
                                </span>
                            </div>


                        </div>

                    </th>
                    <th>
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-sm btn-default" ng-click="toListInvoice()">Back</a>
                        </div>
                    </th>
                    <th>
                        Total Harga
                    </th>
                    <th class="text-right">
                        Rp.{{grandTotal() | number :0}},-
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
