<div class=" hbox hbox-auto-xs bg-light ">
    <div class="panel panel-default">
        <div class="panel-heading">
            Invoice - List
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>

                    <tr>

                        <th>Nama Pemesan</th>
                        <th>No HP</th>
                        <th>Kapal</th>
                        <th>Tgl Berangkat</th>
                        <th>Pelayaran</th>
                        <th>Kelas</th>
                        <th>Tgl Buat</th>
                        <th>Dibuat Oleh</th>
                        <th>Diedit Oleh</th>
                        <th>Keterangan Edit</th>
                    </tr>

                </thead>
                <tbody>
                    <tr class="fadeInRight animated" ng-repeat="(key ,value) in listInvoice | orderBy:'CreatedAt':true">
                        <td><a ng-click="detailInvoice(key)">{{value.Pemesan}}</a>
                        </td>
                        <td>{{value.MobilePemesan}}</td>
                        <td>{{value.KapalNama}}</td>
                        <td>{{value.TglBerangkat | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>
                            {{value.EmbarNama}} <i class="fa fa-arrow-right"></i> {{value.DebarNama}}
                        </td>
                        <td>
                            {{value.KelasNama}}
                        </td>
                        <td>
                            <span title="{{value.CreatedAt | date:'dd-MM-yyyy HH:mm:ss'}}">
                            {{timeFromNow(value.CreatedAt)}}
                            </span>
                        </td>
                        <td>
                            <span class="thumb-sm avatar m-t-n-sm m-b-n-sm m-l-sm">
                            <a ng-href="https://www.facebook.com/{{getUserByUid(value.CreatedBy).facebook.id}}" target="_blank">
                            <img ng-src="https://graph.facebook.com/{{getUserByUid(value.CreatedBy).facebook.id}}/picture?type=square" tooltip="{{getUserByUid(value.CreatedBy).facebook.displayName}}" style="width:80%;">
                            </a>
                            </span>

                        </td>
                        <td>
                            <span class="thumb-sm avatar m-t-n-sm m-b-n-sm m-l-sm">
                            <a ng-href="https://www.facebook.com/{{getUserByUid(value.UpdatedBy).facebook.id}}" target="_blank">
                            <img ng-src="https://graph.facebook.com/{{getUserByUid(value.UpdatedBy).facebook.id}}/picture?type=square" tooltip="{{value.UpdatedAt | date:'dd-MM-yyyy HH:mm:ss'}}" style="width:80%;">
                            </a>
                            </span>
                        </td>
                        <td>
                            <span><i class="fa fa-phone-square" title="Pemesan"></i>  </span>
                            <span><i class="fa fa-users" title="Jlh Penumpang"></i> </span>
                            <span><i class="fa fa-user" title="Penumpang"></i>  </span>
                            <span><i class="fa fa-check-square" title="Status"></i>  </span>
                            <span><i class="fa fa-child" title="Umur"></i>  </span>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">


                </div>
                <div class="col-sm-4 text-center">
                    <a ng-click="loadMore()" ng-show="showLoadMore()"><small class="text-info inline m-t-sm m-b-sm">Load more...</small></a>
                </div>
            </div>
        </footer>
    </div>

</div>
