<div class=" hbox hbox-auto-xs bg-light ">
    <div class="panel panel-default">
        <div class="panel-heading">
            Invoice - List 
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>No Invoice</th>
                        <th>Kapal</th>
                        <th>Tanggal Berangkat</th>
                        <th>Nama Pemesan</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fadeInRight animated" ng-repeat="(key ,value) in listTiketBaik | orderBy:'CreatedAt':true |filter: search">
                        <td>{{key + 1}}</td>
                        <td>{{value.NoTiket}}</td>

                        <td>{{getStatusName(value.Status)}}</td>
                        <td>
                            <span title="{{value.CreatedAt | date:'dd-MM-yyyy HH:mm:ss'}}">
                            {{timeFromNow(value.CreatedAt)}}
                            </span>
                       
                        </td>
                        <td>
                            <span class="thumb-sm avatar m-t-n-sm m-b-n-sm m-l-sm">
                            <a ng-href="https://www.facebook.com/{{getUserByUid(value.CreatedBy).facebook.id}}" target="_blank">
                            <img ng-src="https://graph.facebook.com/{{getUserByUid(value.CreatedBy).facebook.id}}/picture?type=square" tooltip="{{getUserByUid(value.CreatedBy).facebook.displayName}}" style="width:80%;">
                            </a>
                            </span>
                             
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">


                </div>
                <div class="col-sm-4 text-center">
                    <a ng-click="loadMore()" ng-show="showLoadMore()"><small class="text-info inline m-t-sm m-b-sm">Load more...</small></a>
                </div>
            </div>
        </footer>
    </div>
    
</div>
