<!-- LIST FINGERS IN -->

<div class="panel panel-default" ng-show="checkView('List')">
    <div class="row wrapper">
        <div class="col-sm-5 m-b-xs">
            <label class="h4"> Filter : </label>
            <div class="btn-group" ng-init="radioModel = 'Waiting'">
                <label class="btn btn-sm btn-warning" ng-model="radioModel" btn-radio="'Waiting'"><i class="fa fa-check text-active"></i> Waiting</label>
                <label class="btn btn-sm btn-danger" ng-model="radioModel" btn-radio="'Reject'"><i class="fa fa-check text-active"></i> Reject</label>
                <label class="btn btn-sm btn-success" ng-model="radioModel" btn-radio="'Accept'"><i class="fa fa-check text-active"></i> Accept</label>
                <label class="btn btn-sm btn-info" ng-model="radioModel" btn-radio="'All'"><i class="fa fa-check text-active"></i> All</label>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="Search">
                <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th>Masuk</th>
                    <th>Nama Mesin</th>
                    <th>No Pegawai</th>
                    <th>Nama Pegawai</th>
                    <th>Hak Mesin</th>
                    <th>Card</th>
                    <th>Departemen</th>
                    <th>Keterangan</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="value in ListValue">
                    <td>
                        <span tooltip="{{value.UpdatedAt | date:'dd-MM-yyyy HH:mm:ss'}}">
                            {{timeFromNow(value.UpdatedAt)}}
                        </span>
                    </td>
                    <td>{{getDevName(value.Sn)}}</td>
                    <td>{{value.Pin}}</td>
                    <td>{{value.Name}}</td>
                    <td>{{getPreName(value.Pri)}}</td>
                    <td>{{value.Card}}</td>
                    <td>{{value.DeptName}}</td>
                    <td>{{value.Note}}</td>
                    <td>
                        <span class="label bg-danger" ng-show="value.Status == 1">REJECT</span>
                        <span class="label bg-warning" ng-show="value.Status == 0">WAITING</span>
                        <span class="label bg-success" ng-show="value.Status == 2">ACCEPT</span>
                    </td>
                    <td>
                        <span ng-show="value.Status == 0">
                        <a class="btn btn-danger btn-xs"> <i class="fa fa-times"></i> REJECT </a>
                        <a class="btn btn-success btn-xs"> <i class="fa fa-check"></i> ACCEPT </a>
                        </span>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-4 hidden-xs">

            </div>
            <div class="col-sm-4 text-center">
                <a ng-click="loadMore()" ng-show="showLoadMore()"><small class="text-info inline m-t-sm m-b-sm">Load more...</small></a>
            </div>
        </div>
    </footer>
</div>

<!-- LIST FINGERS IN END -->
