<div class="hbox hbox-auto-xs bg-light">
    <div class="panel panel-default">
        <div class="panel-heading">
            Print Tiket - List
        </div>
        <div class="row wrapper">
            <div class="col-sm-4 m-b-xs">
                <form ng-submit="tampilkanData($event)">
                    <div class="input-group">
                        <input class="form-control input-sm" type="text" ng-model="tiketBaru" placeholder="Scan Barcode" ng-disabled="disTiket" id="inputTiket">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" type="submit" ng-hide="showDetail">
                                Tampilkan Data Penumpang
                            </button>
                            
                            <a ng-show="showDetail" class="btn btn-sm btn-default" ng-click="scanUlang()">Scan Ulang</a>
                        </span>
                    </div>
                </form>
                <form ng-submit="print($event)" ng-show="showDetail">
                    <div class="input-group">
                        <input id="focusPrint" class="form-control input-sm" type="text" ng-model="barcodePrint" placeholder="Scan Barcode Printer" autofocus>
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-info" type="submit">
                                Print
                            </button>
                        </span>
                    </div>
                </form>
                <div class="col-sm-5">
                    <div ng-show="errMsg" class="alert alert-danger">
                        {{errMsg}}
                    </div>

                    <div ng-show="okMsg" class="alert alert-success">
                        {{okMsg}}
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control input-sm" placeholder="Search" ng-model="search">
                </div>
            </div>
        </div>
        <span ng-show="showDetail">
            <div class="row wrapper">
               <textarea ng-model="selected.PrintOut" cols="80" rows="18" style="resize:none">
                </textarea>
            </div>


        </span>

        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:20px;">No</th>
                        <th>No Tiket</th>
                        <th>Nama</th>
                        <th>Tgl Print Out</th>
                        <th>Status</th>
                        <th>Tgl Issued</th>
                        <th>Diisued Oleh</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fadeInRight animated" ng-repeat="(key ,value) in listTiketIssued | orderBy:'PrintedOutAt':true | filter: search">
                        <td>{{key + 1}}</td>
                        <td>{{value.NoTiket}}</td>
                        <td>{{value.Nama}}</td>
                        <td>
                            <span title="{{value.PrintedOutAt | date:'dd-MM-yyyy HH:mm:ss'}}">
                            {{timeFromNow(value.PrintedOutAt)}}
                            </span>
                        </td>
                        <td>{{getStatusName(value.Status)}}</td>
                        <td>
                            <span title="{{value.IssuedAt | date:'dd-MM-yyyy HH:mm:ss'}}">
                            {{timeFromNow(value.IssuedAt)}}
                            </span>
                        </td>
                        <td>
                            <span class="thumb-sm avatar m-t-n-sm m-b-n-sm m-l-sm">
                                <a ng-href="https://www.facebook.com/{{getUserByUid(value.IssuedBy).facebook.id}}" target="_blank">
                                    <img ng-src="https://graph.facebook.com/{{getUserByUid(value.IssuedBy).facebook.id}}/picture?type=square" tooltip="{{getUserByUid(value.IssuedBy).facebook.displayName}}" style="width:80%;">
                                </a>
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">


                </div>
                <div class="col-sm-4 text-center">
                    <a ng-click="loadMore()" ng-show="showLoadMore()"><small class="text-info inline m-t-sm m-b-sm">Load more...</small></a>
                </div>
            </div>
        </footer>
    </div>
</div>
