<!-- LIST IJIN -->

<div class="panel panel-default" ng-show="checkView('List')">
    <div class="row wrapper">
        <div class="col-sm-5 m-b-xs">
            <button class="btn btn-sm btn-primary" ng-click="toCreate()">Ijin Baru</button>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="Search">
                <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th style="width:20px;">No</th>
                    <th>Nama Pegawai</th>
                    <th>Jenis Ijin</th>
                    <th>Keterangan</th>
                    <th>Penanggung Jawab</th>
                    <th>Tanggal Ijin</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a class="text-info" ng-click="Detail(value)">Rio</a>
                    </td>
                    <td>Dinas Luar</td>
                    <td>Ke Kotamobagu</td>
                    <td>Jethro</td>
                    <td>24 Nov 2014</td>
                    <td>20 Nov 2014 09:00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Hentje</td>
                    <td>Dinas Luar</td>
                    <td>Ke Bitung</td>
                    <td>Jethro</td>
                    <td>24 Nov 2014</td>
                    <td>20 Nov 2014 09:00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Natha</td>
                    <td>Sakit</td>
                    <td>Terkena Demam</td>
                    <td>Jethro</td>
                    <td>24 Nov 2014</td>
                    <td>20 Nov 2014 09:00</td>
                </tr>

            </tbody>
        </table>
    </div>
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-4 hidden-xs">

            </div>
            <div class="col-sm-4 text-center">
                <a><small class="text-info inline m-t-sm m-b-sm">Load more...</small></a>
            </div>
        </div>
    </footer>
</div>

<!-- LIST IJIN -->

<!-- NEW IJIN -->

<div class="panel panel-default" ng-show="checkView('Create')">
    <div class="panel-body">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">Nama Pegawai</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Pegawai">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Jenis Ijin</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option value="">Jenis Ijin</option>
                        <option value="IJ">Ijin</option>
                        <option value="DL">Dinas Luar</option>
                        <option value="SK">Sakit</option>
                        <option value="CT">Cuti</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Keterangan</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Keterangan">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Penanggung Jawab</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Penanggung Jawab">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tanggal Ijin</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" placeholder="Tanggal Ijin">
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toList()">Cancel</button>
                    <button class="btn btn-success">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- NEW IJIN END-->

<!-- DETAIL IJIN -->

<div class="panel panel-default" ng-show="checkView('Detail')">
    <div class="panel-body">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">Nama Pegawai</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Pegawai" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Jenis Ijin</label>
                <div class="col-sm-10">
                    <select class="form-control" disabled>
                        <option value="">Jenis Ijin</option>
                        <option value="IJ">Ijin</option>
                        <option value="DL">Dinas Luar</option>
                        <option value="SK">Sakit</option>
                        <option value="CT">Cuti</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Keterangan</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Keterangan" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Penanggung Jawab</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Penanggung Jawab" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tanggal Ijin</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" placeholder="Tanggal Ijin" disabled>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toList()">Cancel</button>
                    <button class="btn btn-info" ng-click="toEdit()">Edit</button>
                    <button class="btn btn-danger">Hapus</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- DETAIL IJIN END -->

<!-- EDIT IJIN -->

<div class="panel panel-default" ng-show="checkView('Edit')">
    <div class="panel-body">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">Nama Pegawai</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Pegawai">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Jenis Ijin</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option value="">Jenis Ijin</option>
                        <option value="IJ">Ijin</option>
                        <option value="DL">Dinas Luar</option>
                        <option value="SK">Sakit</option>
                        <option value="CT">Cuti</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Keterangan</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Keterangan">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Penanggung Jawab</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Penanggung Jawab">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tanggal Ijin</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" placeholder="Tanggal Ijin">
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toDetail()">Cancel</button>
                    <button class="btn btn-success">Update</button>

                </div>
            </div>
        </form>
    </div>
</div>

<!-- EDIT IJIN END-->
