<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Home</h1>
</div>
<div class="wrapper-md">

    <div class="row">
        <div class="col-md-12">
            <div class="row row-sm text-center">

                <div class="col-sm-3">
                    <a ui-sref="app.tiketpelni.stocktiket" class="block panel padder-v bg-danger item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-stack-overflow"></i>
                        </span>
                        <span class="text-muted text-md">TAMBAH STOCK TIKET PELNI</span>
                        
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.pelnireport.stocktiket" class="block panel padder-v bg-primary item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-dropbox"></i>
                        </span>
                        <span class="text-muted text-md">SISA STOCK TIKET PELNI</span>
                      
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.tiketpelni.issuedtiket" class="block panel padder-v bg-info item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-edit"></i>
                        </span>
                        <span class="text-muted text-md">ISSUED TIKET PELNI</span>
                     
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.pelnireport.penjualanharian" class="block panel padder-v bg-success item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-line-chart"></i>
                        </span>
                        <span class="text-muted text-md">PENJUALAN HARIAN PELNI</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.invoicepelni.search" class="block panel padder-v bg-success item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-search"></i>
                        </span>
                        <span class="text-muted text-md">SEARCH JADWAL PELAYARAN</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.invoicepelni.list" class="block panel padder-v bg-info item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-list-ol"></i>
                        </span>
                        <span class="text-muted text-md">LIST INVOICE PELNI</span>
                        
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.invoicepelni.searchinvoice" class="block panel padder-v bg-primary item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-qrcode"></i>
                        </span>
                        <span class="text-muted text-md">SCAN QR-CODE INVOICE</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.tiketpelni.searchtiket" class="block panel padder-v bg-danger item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-barcode"></i>
                        </span>
                        <span class="text-muted text-md">SCAN BARCODE TIKET</span>
                       
                    </a>
                </div>
                

            </div>
        </div>

    </div>

</div>
