<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Home</h1>
</div>
<div class="wrapper-md">

    <div class="row">
        <div class="col-md-12">
            <div class="row row-sm text-center">

                <div class="col-sm-3">
                    <a ui-sref="app.dashboard" class="block panel padder-v bg-primary item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-medkit"></i>
                        </span>
                        <span class="text-muted text-md">DASHBOARD</span>
                        
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.map" class="block panel padder-v bg-primary item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-globe"></i>
                        </span>
                        <span class="text-muted text-md">PETA</span>
                      
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.emps" class="block panel padder-v bg-primary item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-users"></i>
                        </span>
                        <span class="text-muted text-md">DAFRTAR PEGAWAI</span>
                     
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.exception" class="block panel padder-v bg-primary item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-edit"></i>
                        </span>
                        <span class="text-muted text-md">DAFTAR IJIN</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.reportday" class="block panel padder-v bg-success item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-list-ol"></i>
                        </span>
                        <span class="text-muted text-md">LAPORAN HARIAN</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.reportmonth" class="block panel padder-v bg-success item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-list-ul"></i>
                        </span>
                        <span class="text-muted text-md">LAPORAN BULANAN</span>
                        
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.reportemp" class="block panel padder-v bg-success item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-book"></i>
                        </span>
                        <span class="text-muted text-md">LAPORAN PEGAWAI</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.atts" class="block panel padder-v bg-success item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-desktop"></i>
                        </span>
                        <span class="text-muted text-md">KEHADIRAN</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.sches" class="block panel padder-v bg-info item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-calendar"></i>
                        </span>
                        <span class="text-muted text-md">JADWAL KERJA</span>
                      
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.dayoff" class="block panel padder-v bg-info item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-calendar-o"></i>
                        </span>
                        <span class="text-muted text-md">JADWAL LIBUR</span>
                        
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.depts" class="block panel padder-v bg-info item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-sitemap"></i>
                        </span>
                        <span class="text-muted text-md">LIST DEPARTEMEN</span>
                    
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.comps" class="block panel padder-v bg-info item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-building-o"></i>
                        </span>
                        <span class="text-muted text-md">LIST UNIT</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.devs" class="block panel padder-v bg-dark item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-cogs"></i>
                        </span>
                        <span class="text-muted text-md">LIST MESIN</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.users" class="block panel padder-v bg-dark item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-user"></i>
                        </span>
                        <span class="text-muted text-md">LIST USER</span>
                        
                    </a>
                </div>

            </div>
        </div>

    </div>

</div>
