<html>

<head>
    <meta charset="utf-8">

    <style>
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 0px;
        border: 1px solid black;
    }
    </style>

</head>

<body>
    <div style=" margin-right: auto; margin-left: auto; margin-top:-50px; height:450px;">
        <div class="row">
            <div class="col-xs-4">
                <small class="m-t m-b" style="font-size:10px;">
                    <p>
                    <br>Invoice Kapal: <b>#010039</b> 
                    <br>Kapal:
                    <strong>Lambelu</strong>
                    <span class="label bg-info">EKO</span>
                    <br>Tanggal: <i class="fa fa-check-square-o"></i>&nbsp;<b>Minggu, 27 Juli 2014 12:43</b>
                    <br>Tujuan:
                    <strong>Bitung - Ternate</strong>
                    </p>
                </small>
            </div>
            <div class="col-xs-4 text-center">
                <small class="m-t m-b" style="font-size:10px;">
                <img src="img/virgo.png" alt="Virgo Travel" style="display:block; margin-left:auto; margin-right:auto;">
                <p>
                    <b>Telepon: 0852-2072-1520</b> <br>
                </p>
                </small>
            </div>
            <div class="col-xs-4 text-right">
                <small class="m-t m-b" style="font-size:10px;">
                    <p>
                    <br>Invoice Dibuat: <b>Senin, 10 Jan 2015 10:00</b>
                    <br>Nama Pemesan : David Elmen
                    <br>No HP : <b>085295733074</b>
                    <br>Alamat : Sario Tumpaan
                    </p>
                </small>
            </div>
        </div>
        <table class="table table-bordered" style="font-size:10px; margin-bottom:0px; border: 1px solid black;">
            <thead>
                <tr>
                    <th width="20"> NO</th>
                    <th> Nama Penumpang</th>
                    <th width="140"> Status</th>
                    <th width="60"> Umur</th>
                    <th width="90"> Harga</th>
                    <th width="90"> Service Fee</th>
                    <th width="90"> SubTotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
              

                <tr>
                    <td colspan="6" class="text-right no-border">
                        <strong>Grand Total :</strong>
                    </td>
                    <td class="text-right">
                        <strong>Rp 426,000</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-1 text-right">
                <small class="m-t m-b" style="font-size:10px;">
                    <p>
                    <b>Keterangan:</b>
                    </p>
                </small>
            </div>
            <div class="col-xs-11">
                <small class="m-t m-b" style="font-size:10px;">
                    <p>
                    *Tiket yang sudah dibeli tidak bisa dibatalkan/ditukar
                    <br>*Nama penumpang harus sesuai KTP/Kartu identitas Resmi
                    <br>*KTP /Kartu identitas Resmi Harus Dibawa Pada saat keberangkatan kapal
                    <br>*Pengurusan Pembatalan Tiket Langsung Ke Kantor Pelni Bitung
                    </p>
                </small>
            </div>
            <div class="col-xs-3 text-center">
                <p class="h5" style="font-size:12px;">Menyetujui Pemesan</p>
                <small>
                    <br>
                    <br>(<u>____________________</u>)
                </small>
            </div>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-3 text-center">
                <p class="h5" style="font-size:12px;">Virgo Travel</p>
                <small>
                    <br>
                    <br>(

                    <u><b>Rio Ciputra</b></u>)
                </small>
            </div>
        </div>
    </div>
    <hr style="border-top: dotted 1px; margin-top:0px; margin-bottom:5px;" />
    <div style=" margin-right: auto; margin-left: auto; height:450px;">
        <div class="row">
            <div class="col-xs-4">
                <small class="m-t m-b" style="font-size:10px;">
                    <p>
                    <br>Invoice Kapal: <b>#010039</b> 
                    <br>Kapal:
                    <strong>Lambelu</strong>
                    <span class="label bg-info">EKO</span>
                    <br>Tanggal: <i class="fa fa-check-square-o"></i>&nbsp;<b>Minggu, 27 Juli 2014 12:43</b>
                    <br>Tujuan:
                    <strong>Bitung - Ternate</strong>
                    </p>
                </small>
            </div>
            <div class="col-xs-4 text-center">
                <small class="m-t m-b" style="font-size:10px;">
                <img src="img/virgo.png" alt="Virgo Travel" style="display:block; margin-left:auto; margin-right:auto;">
                <p>
                    <b>Telepon: 0852-2072-1520</b> <br>
                </p>
                </small>
            </div>
            <div class="col-xs-4 text-right">
                <small class="m-t m-b" style="font-size:10px;">
                    <p>
                    <br>Invoice Dibuat: <b>Senin, 10 Jan 2015 10:00</b>
                    <br>Nama Pemesan : David Elmen
                    <br>No HP : <b>085295733074</b>
                    <br>Alamat : Sario Tumpaan
                    </p>
                </small>
            </div>
        </div>
        <table class="table table-bordered" style="font-size:10px; margin-bottom:0px; border: 1px solid black;">
            <thead>
                <tr>
                    <th width="20"> NO</th>
                    <th> Nama Penumpang</th>
                    <th width="140"> Status</th>
                    <th width="60"> Umur</th>
                    <th width="90"> Harga</th>
                    <th width="90"> Service Fee</th>
                    <th width="90"> Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                    <td class="text-right">Rp  10,000</td>
                    <td class="text-right">Rp 143,000</td>
                </tr>
              

                <tr>
                    <td colspan="6" class="text-right no-border">
                        <strong>Grand Total :</strong>
                    </td>
                    <td class="text-right">
                        <strong>Rp 426,000</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-1 text-right">
                <small class="m-t m-b" style="font-size:10px;">
                    <p>
                    <b>Keterangan:</b>
                    </p>
                </small>
            </div>
            <div class="col-xs-11">
                <small class="m-t m-b" style="font-size:10px;">
                    <p>
                    *Tiket yang sudah dibeli tidak bisa dibatalkan/ditukar
                    <br>*Nama penumpang harus sesuai KTP/Kartu identitas Resmi
                    <br>*KTP /Kartu identitas Resmi Harus Dibawa Pada saat keberangkatan kapal
                    <br>*Pengurusan Pembatalan Tiket Langsung Ke Kantor Pelni Bitung
                    </p>
                </small>
            </div>
            <div class="col-xs-3 text-center">
                <p class="h5" style="font-size:12px;">Menyetujui Pemesan</p>
                <small>
                    <br>
                    <br>(<u>____________________</u>)
                </small>
            </div>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-3 text-center">
                <p class="h5" style="font-size:12px;">Virgo Travel</p>
                <small>
                    <br>
                    <br>(

                    <u><b>Rio Ciputra</b></u>)
                </small>
            </div>
        </div>
    </div>
</body>

</html>
