<html>

<head>
    <meta charset="utf-8">

    <style>
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 0px;
        border: 1px solid black;
    }
    </style>

</head>

<body>
    <div style=" margin-right: auto; margin-left: auto; margin-top:-60px; height:460px;">
        <img src="img/virgo.png" alt="Virgo Travel" style="display:block; margin-left:auto; margin-right:auto;">
        <hr style="margin-top:0px; margin-bottom:0px;">
    
        <div class="row">
            <div class="col-xs-12 text-center" style=" font-size:10px;" >
                <b>INVOICE AUDIT NO:  #010039</b>
            </div>
            <div class="col-xs-6">
                <h5 style="margin-bottom: 0px; font-size:10px;">VIRGO TRAVEL &nbsp;&nbsp;&nbsp; <b>0852-2072-1520</b>
                </h5>
            </div>
            <div class="col-xs-6 text-right">
                <h5 style="margin-bottom: 0px; font-size:10px;">Minggu, 27 Juli 2014 20:00:00</h5>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <small class="m-t m-b" style="font-size:10px;">Kapal:
                    <strong>Lambelu</strong>
                    <span class="label bg-info">EKO</span>
                    <br>Tanggal: <i class="fa fa-check-square-o"></i>&nbsp;<b>Minggu, 27 Juli 2014 12:43</b>
                    <br>Tujuan:
                    <strong>Bitung - Ternate</strong>
                </small>
            </div>
            <div class="col-xs-6 text-right">
                <small class="m-t m-b" style="font-size:10px;">Nama Pemesan : David Elmen
                    <br>No HP : <b>085295733074</b>
                    <br>Alamat : Sario Tumpaan
                </small>
            </div>
        </div>
        <table class="table table-bordered" style="font-size:12px; margin-bottom:0px; border: 1px solid black;">
            <thead>
                <tr>
                    <th width="20">NO</th>
                    <th>Nama Penumpang</th>
                    <th width="140">Status</th>
                    <th width="60">Umur</th>
                    <th width="90 text-center">Harga</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ervina Bhaskara</td>
                    <td>Wanita</td>
                    <td>30</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Luois Bhaskara</td>
                    <td>Anak</td>
                    <td>5</td>
                    <td class="text-right">Rp 80,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Mark Bhaskara</td>
                    <td>Anak</td>
                    <td>3</td>
                    <td class="text-right">Rp 80,000</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right no-border">
                        Service Fee x10 : 
                    </td>
                    <td class="text-right">
                        <strong>Rp 250,000</strong>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" class="text-right no-border">
                        <strong>Total :</strong>
                    </td>
                    <td class="text-right">
                        <strong>Rp 426,000</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-3 text-center">
                <p class="h5" style="font-size:12px;">Pemesan</p>
                <small>
                    <br>
                    <br>(<u>____________________</u>)
                </small>
            </div>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-3 text-center">
                <p class="h5" style="font-size:12px;">Virgo Travel</p>
                <small>
                    <br>
                    <br>(

                    <u><b>Rio Ciputra</b></u>)
                </small>
            </div>
        </div>
    </div>
    <hr style="border-top: dotted 1px; margin-top:0px; margin-bottom:5px;" />
    <div style=" margin-right: auto; margin-left: auto; height:460px;">
        <img src="img/virgo.png" alt="Virgo Travel" style="display:block; margin-left:auto; margin-right:auto;">
        <hr style="margin-top:0px; margin-bottom:0px;">
    
        <div class="row">
            <div class="col-xs-12 text-center" style=" font-size:10px;" >
                <b>INVOICE AUDIT NO:  #010039</b>
            </div>
            <div class="col-xs-6">
                <h5 style="margin-bottom: 0px; font-size:10px;">VIRGO TRAVEL &nbsp;&nbsp;&nbsp; <b>0852-2072-1520</b>
                </h5>
            </div>
            <div class="col-xs-6 text-right">
                <h5 style="margin-bottom: 0px; font-size:10px;">Minggu, 27 Juli 2014 20:00:00</h5>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <small class="m-t m-b" style="font-size:10px;">Kapal:
                    <strong>Lambelu</strong>
                    <span class="label bg-info">EKO</span>
                    <br>Tanggal: <i class="fa fa-check-square-o"></i>&nbsp;<b>Minggu, 27 Juli 2014 12:43</b>
                    <br>Tujuan:
                    <strong>Bitung - Ternate</strong>
                </small>
            </div>
            <div class="col-xs-6 text-right">
                <small class="m-t m-b" style="font-size:10px;">Nama Pemesan : David Elmen
                    <br>No HP : <b>085295733074</b>
                    <br>Alamat : Sario Tumpaan
                </small>
            </div>
        </div>

        <table class="table table-bordered" style="font-size:12px; margin-bottom:0px; border: 1px solid black;">
            <thead>
                <tr>
                    <th width="20">NO</th>
                    <th>Nama Penumpang</th>
                    <th width="140">Status</th>
                    <th width="60">Umur</th>
                    <th width="90 text-center">Harga</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hendra Charles</td>
                    <td>Pria</td>
                    <td>29</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ervina Bhaskara</td>
                    <td>Wanita</td>
                    <td>30</td>
                    <td class="text-right">Rp 133,000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Luois Bhaskara</td>
                    <td>Anak</td>
                    <td>5</td>
                    <td class="text-right">Rp 80,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Mark Bhaskara</td>
                    <td>Anak</td>
                    <td>3</td>
                    <td class="text-right">Rp 80,000</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right no-border">
                        Service Fe x10 : 
                    </td>
                    <td class="text-right">
                        <strong>Rp 250,000</strong>
                    </td>
                </tr>
                <tr>
                    
                    <td colspan="4" class="text-right no-border">
                        <strong>Total :</strong>
                    </td>
                    <td class="text-right">
                        <strong>Rp 426,000</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-3 text-center">
                <p class="h5" style="font-size:12px;">Pemesan</p>
                <small>
                    <br>
                    <br>(<u>____________________</u>)
                </small>
            </div>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-3 text-center">
                <p class="h5" style="font-size:12px;">Virgo Travel</p>
                <small>
                    <br>
                    <br>(

                    <u><b>Rio Ciputra</b></u>)
                </small>
            </div>
        </div>
    </div>
</body>

</html>
