<style>
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 1px;
    border: 1px solid black !important;
}
</style>

<div style="margin-right: auto; margin-left: auto; margin-top: -50px; background:white;">
    <!-- <img src="img/kopsurat.png" alt="sul4je" style="display:block; width:100%; margin-left:auto; margin-right:auto;"> -->
    <br>
    <div style="text-align:center; font-size:14px; margin-top: -20px;"><b>Rekap Harian Pegawai</b>
    </div>
    <hr style="margin-bottom: 0px; margin-top:0px; border: 1px solid black !important">
    <!-- Khusus Penyimpan Aja -->
    <div class="row">
        <div class="col-xs-4">
            <span class="m-t m-b" style="font-size:12px;">
                    <br>Bulan: <b>Desember 2014</b>
                    <br>Perusahaan: <b>Virgo </b>
                    <br>Nama Pegawai: <b>Rio Ciputra </b>
                    <br>Departemen: <b>IT</b>
                   
            </span>
        </div>
        <div class="col-xs-4">
            <span class="m-t m-b" style="font-size:12px;">
                    <br>Hari Kerja: <b>20</b>
                    <br>Hari Libur: <b>0 </b>
                    <br>Hadir: <b>20</b>
                    <br>Alpha: <b>0</b>
                    
            </span>
        </div>
        <div class="col-xs-4">
            <span class="m-t m-b" style="font-size:12px;">
                    <br>Ijin: <b>0</b>
                    <br>Sakit: <b>0</b>
                    <br>Cuti: <b>0</b>
                    <br>Dinas Luar: <b>0</b>
            </span>
        </div>



    </div>
    <table class="table table-bordered" style="font-size:10px; margin-bottom:0px; border: 1px solid black; ">
        <thead>
            <tr>
                <th>Tanggal</th>
                <th>Hari Kerja</th>
                <th>Absen Awal</th>
                <th>Absen Akhir</th>
                <th>Status Kehadiran</th>
                <th>Terlambat</th>
                <th>Lembur</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ya</td>
                <td>08:01:00</td>
                <td>18:00:00</td>
                <td><b>Hadir</b>
                </td>
                <td>00:01:00</td>
                <td>01:00:00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>31</td>
                <td>Ya</td>
                <td>08:00:00</td>
                <td>17:05:00</td>
                <td><b>Hadir</b>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th>31</th>
                <th></th>
                <th></th>
                <th></th>
                <th>00:01:00</th>
                <th>01:01:00</th>
            </tr>
        </tfoot>
    </table>
    <br>
    <br>
</div>
