<style>
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 1px;
    border: 1px solid black !important;
}
</style>

<div style="margin-right: auto; margin-left: auto; margin-top: -50px; background:white;">
    <!-- <img src="img/kopsurat.png" alt="sul4je" style="display:block; width:100%; margin-left:auto; margin-right:auto;"> -->
    <br>
    <div style="text-align:center; font-size:14px; margin-top: -20px;"><b>Rekap Bulanan Pegawai</b>
    </div>
    <hr style="margin-bottom: 0px; margin-top:0px; border: 1px solid black !important">
    <!-- Khusus Penyimpan Aja -->
    <div class="row">
        <div class="col-xs-12">
            <span class="m-t m-b" style="font-size:12px;">
                    <br>Bulan: <b>Desember 2014</b>
                    <br>Peruasahaan: <b>Virgo </b>
                </span>
        </div>


    </div>
    <table class="table table-bordered" style="font-size:10px; margin-bottom:0px; border: 1px solid black; ">
        <thead>
            <tr>
                <th style="width:20px;">Pin</th>
                <th>Id Pegawai</th>
                <th>Nama</th>
                <th>Departemen</th>
                <th>Hari Kerja</th>
                <th>Hari Libur</th>
                <th>Masuk</th>
                <th>Tidak Masuk</th>
                <th>Ijin</th>
                <th>Dinas Luar</th>
                <th>Sakit</th>
                <th>Cuti</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>Rio</td>
                <td>IT</td>
                <td>25</td>
                <td>5</td>
                <td><b>25</b>
                </td>
                <td><b>0</b>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>Hentje</td>
                <td>Ticketing</td>
                <td>25</td>
                <td>5</td>
                <td><b>25</b>
                </td>
                <td><b>0</b>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
                <td>Natha</td>
                <td>Ticketing</td>
                <td>25</td>
                <td>5</td>
                <td><b>25</b>
                </td>
                <td><b>0</b>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>

        </tbody>
    </table>
    <br>
    <br>
</div>
