<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Dashboard</h1>
</div>
<div class="wrapper-md">
    <div class="panel wrapper">
        <div class="row">
            <div class="col-md-6 b-r b-light no-border-xs">
                <h4 class="font-thin m-t-none m-b-md">Pegawai Absen Terakhir<span class="pull-right label bg-info">Datalink</span></h4>
                <div class=" m-b">
                    <div class="m-b">
                        <span class="label text-base bg-danger pos-rlt m-r">
                            <i class="arrow right arrow-danger"></i> 
                            17/Des/14 08:00:00
                        </span> Dione Sophia <span class="pull-right text-muted">CS</span>
                    </div>
                    <div class="m-b">
                        <span class="label text-base bg-warning pos-rlt m-r">
                            <i class="arrow right arrow-warning"></i>
                            17/Des/14 07:55:00
                        </span> Jethro David <span class="pull-right text-muted">IT</span>
                    </div>
                    <div class="m-b">
                        <span class="label text-base bg-success pos-rlt m-r">
                            <i class="arrow right arrow-success"></i>
                            17/Des/14 07:54:00
                        </span> Satriyo Utomo <span class="pull-right text-muted">CEO</span>
                    </div>
                    <div class="m-b">
                        <span class="label text-base bg-info pos-rlt m-r">
                            <i class="arrow right arrow-info"></i> 
                            17/Des/14 07:53:00
                        </span> Hendra Charles <span class="pull-right text-muted">CTO</span>
                    </div>
                    <div class="m-b">
                        <span class="label text-base bg-primary pos-rlt m-r">
                            <i class="arrow right arrow-primary"></i>
                            17/Des/14 07:52:00
                        </span> Rio Ciputra <span class="pull-right text-muted">IT</span>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <div ui-jq="plot" ui-options="
                  {{d3}},
                  {
                    series: { pie: { show: true, innerRadius: 0.5, stroke: { width: 0 }, label: { show: true, threshold: 0.05 } } },
                    colors: ['{{app.color.success}}','{{app.color.warning}}','{{app.color.danger}}','{{app.color.info}}','{{app.color.primary}}'],
                    grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
                    tooltip: false,
                    tooltipOpts: { content: '%s: %p.0%' }
                  }
                " style="height:240px">
                </div>
            </div>
        </div>
    </div>
</div>
