<!-- LIST CMDS -->

<div class="panel panel-default" ng-show="checkView('List')">
    <div class="row wrapper">
        <div class="col-sm-5 m-b-xs">
            <label class="h4"> Filter : </label>
            <div class="btn-group" ng-init="radioModel = 'Pending'">
                <label class="btn btn-sm btn-dark" ng-model="radioModel" btn-radio="'Pending'"><i class="fa fa-check text-active"></i> Pending</label>
                <label class="btn btn-sm btn-danger" ng-model="radioModel" btn-radio="'Failed'"><i class="fa fa-check text-active"></i> Failed</label>
                <label class="btn btn-sm btn-warning" ng-model="radioModel" btn-radio="'Waiting'"><i class="fa fa-check text-active"></i> Waiting</label>
                <label class="btn btn-sm btn-success" ng-model="radioModel" btn-radio="'Success'"><i class="fa fa-check text-active"></i> Success</label>
                <label class="btn btn-sm btn-info" ng-model="radioModel" btn-radio="'All'"><i class="fa fa-check text-active"></i> All</label>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="Search" ng-model="search">
                <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th>Dibuat</th>
                    <th>Nama Mesin</th>
                    <th>Dikirim</th>
                    <th>Keteragan</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key,value) in ListCmds | filter:search">
                    <td>
                        <span tooltip="{{value.CreatedAt | date:'dd-MM-yyyy HH:mm:ss'}}">
                            {{timeFromNow(value.CreatedAt)}}
                        </span>
                    </td>
                    <td>{{devs[value.Sn].Name}}</td>
                    <td>
                        <span tooltip="{{value.SentAt | date:'dd-MM-yyyy HH:mm:ss'}}">
                            {{timeFromNow(value.SentAt)}}
                        </span>
                    </td>
                    <td>{{value.Note}}</td>
                    <td>
                        <span class="label bg-dark" ng-show="showProcess(value) == 'Pending'">PENDING</span>
                        <span class="label bg-danger" ng-show="showProcess(value) == 'Failed'">FAILED</span>
                        <span class="label bg-warning" ng-show="showProcess(value) == 'Waiting'">WAITING</span>
                        <span class="label bg-success" ng-show="showProcess(value) == 'Success'">SUCCESS</span>
                    </td>
                    <td>
                        <!-- <span ng-show="!value.Sent"> -->
                        <span>
                        <a class="btn btn-success btn-xs" ng-click="resendCmd(value)"> <i class="fa fa-envelope-o"></i> Resend </a>
                        </span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-4 hidden-xs">

            </div>
            <div class="col-sm-4 text-center">
                <a ng-click="loadMore()" ng-show="showLoadMore()"><small class="text-info inline m-t-sm m-b-sm">Load more...</small></a>
            </div>
        </div>
    </footer>
</div>

<!-- LIST CMDS END -->
