<div class="panel panel-default" ng-show="checkView('List')">
    <div class="row wrapper">
        <div class="col-sm-5 m-b-xs">
            <button class="btn btn-sm btn-primary" ng-click="toCreate()">New Departemen</button>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="Search">
                <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th style="width:20px;">No</th>
                    <th>Nama Departemen</th>
                    <th>Jadwal</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="value in ListDepartemen">
                    <td>{{value.$id}}</td>
                    
                    <td>
                        <a class="text-info" ng-click="Detail(value)">
                            {{value.Name}}
                        </a>
                    </td>
                    <td>{{getScheName(value.Sche)}}</td>


                </tr>

            </tbody>
        </table>
    </div>
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
               
            </div>
            <div class="col-sm-4 text-center">
               
            </div>
        </div>
    </footer>
</div>

<div class="panel panel-default" ng-show="checkView('Create')">
    <div class="panel-body">
        <form class="form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Name Departemen</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="newDep.Name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Jadwal</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="newDep.Sche">
                        <option value="">-Pilih Jadwal-</option>
                        <option ng-repeat="(key, value) in ListJadwal" value="{{key}}">{{value.Name}}</option>
                    </select>
                </div>
            </div>



            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toList()">Cancel</button>
                    <button class="btn btn-success" ng-click="create()">Create</button>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default" ng-show="checkView('Detail')">
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{dep.$id}}" placeholder="id" disabled>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Nama Departemen</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{dep.Name}}" placeholder="Name" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Jadwal</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{getScheName(dep.Sche)}}" placeholder="Sche" disabled>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toList()">Cancel</button>
                    <button class="btn btn-info" ng-click="toEdit()">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default" ng-show="checkView('Edit')">
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{dep.$id}}" placeholder="ID" disabled>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Nama Departemen</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="dep.Name" placeholder="Name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Jadwal</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="dep.Sche">
                        <option value="">-Pilih Jadwal-</option>
                        <option ng-repeat="(key, value) in ListJadwal" value="{{key}}">{{value.Name}}</option>
                    </select>
                </div>
            </div>


            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-default" ng-click="toDetail()">Cancel</button>
                    <button class="btn btn-success" ng-click="update()">Update</button>

                </div>
            </div>
        </form>
    </div>
</div>
