<div class="hbox hbox-auto-xs bg-light ">
    <div class="panel panel-default">
        <div class="panel-heading">
            Invoice Pesawat - Invoice Edit
        </div>
        <div class="row wrapper">
            <img src="img/virgo.png" class="center-block">
            <hr style="margin-top:0px; margin-bottom:0px;">
            <h4 class="text-center"><b>INVOICE PESAWAT</b></h4>
            <div class="col-sm-6">
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Airlines</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="Nama Airlines" ng-model="selectedInvoice.Airlines">
                    </div>
                     <div class="col-lg-3">
                        <input id="_id212" name="_id212" type="text" class="form-control input-sm" placeholder="Kode Booking" ng-model="selectedInvoice.BookingCode" maxlength="16">
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Tanggal Berangkat</label>
                    <div class="col-lg-7">
                        <input type="date" class="form-control input-sm" placeholder="Bandara Tujuan" ng-model="selectedInvoice.TglBerangkat">
                    </div>
                   
                </div>
                
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Berangkat</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control input-sm" placeholder="Bandara Keberangkatan" ng-model="selectedInvoice.Berangkat" maxlength="20">
                    </div>
                     <div class="col-lg-2">
                        <input type="text" class="form-control input-sm" placeholder="00:00" ng-model="selectedInvoice.BerangkatJam" maxlength="5">
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Tujuan</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control input-sm" placeholder="Bandara Tujuan" ng-model="selectedInvoice.Tujuan" maxlength="20">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control input-sm" placeholder="00:00" ng-model="selectedInvoice.TujuanJam" maxlength="5">
                    </div>
                </div>
                
            </div>

            <div class="col-sm-6">
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Nama Pemesan</label>
                    <div class="col-lg-8">
                        <input id="_id212" name="_id212" type="text" class="form-control input-sm" placeholder="Nama Pemesan" ng-model="selectedInvoice.Pemesan" maxlength="50">
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">No HP</label>
                    <div class="col-lg-8">
                        <input id="_id217" name="_id217" type="text" class="form-control input-sm" placeholder="No HP" ng-model="selectedInvoice.MobilePemesan" maxlength="15">
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Alamat</label>
                    <div class="col-lg-8">
                        <input id="_id222" name="_id222" type="text" class="form-control input-sm" placeholder="Alamat" ng-model="selectedInvoice.AlamatPemesan" maxlength="50">
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Keterangan Transit</label>
                    <div class="col-lg-8">
                        <input id="_id222" name="_id222" type="text" class="form-control input-sm" placeholder="Kosongkan jika Direct Flight" ng-model="selectedInvoice.TransitNote" maxlength="50">
                    </div>
                </div>

               
            </div>
        </div>

        <table class="table table-bordered b-t b-dark" style="font-size:12px;">
            <thead style="background-color: #F6F8F8;">
                <tr>
                    <th style="width:75px;">No</th>
                    <th style="width:120px;">Title</th>
                    <th>Nama Penumpang</th>
                    <th style="width:120px;">Status</th>
                    <th style="width:300px;">Harga</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in selectedInvoice.ListPng">
                    <td>
                        <button class="btn btn-default btn-sm" type="button" ng-click="rmPng(key)" ng-hide="countPng() < 2">-</button>&nbsp;&nbsp;{{getNoUrut(key)}}
                    </td>
                    <td>
                        <select class="form-control input-sm" ng-model="value.Title">
                            <option value="">-Title-</option>
                            <option value="MR">MR</option>
                            <option value="MRS">MRS</option>
                            <option value="MISS">MISS</option>
                            <option value="MSTR">MSTR</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Nama Penumpang" ng-model="value.Nama" maxlength="50">
                    </td>
                    <td>
                        <select class="form-control input-sm" ng-model="value.Status">
                            <option value="">-Status-</option>
                            <option value="Dewasa">Dewasa</option>
                            <option value="Anak">Anak</option>
                            <option value="Bayi">Bayi</option>
                        </select>
                    </td>
                    
                    <td class="text-right">
                        <input type="text" class="form-control input-sm" placeholder="Harga" ng-model="value.Harga" maxlength="10">
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">
                        <div class="input-group">
                            <button class="btn btn-default btn-sm" type="button" ng-click="tambahPng()" ng-hide="countPng() > 6">Tambah</button>
                            &nbsp;
                            <span class="text-danger " ng-show="errMsg">{{errMsg}}</span>
                        </div>

                    </th>
                    <th>
                        <div class="btn-group btn-group-justified">
                            <a ng-click="toDetail()" class="btn btn-sm btn-default">Back</a>
                            <a ng-click="save()" class="btn btn-sm btn-success">Save</a>

                        </div>
                    </th>
                    <th>
                        TOTAL:
                        <span class="text-right">Rp.{{grandTotal() | number :0}},-</span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
