<div class="hbox hbox-auto-xs bg-light ">
    <div class="panel panel-default" ng-show="checkView('List')">
        <div class="panel-heading">
            Unit - List
        </div>
        <div class="row wrapper">
            <div class="col-sm-5 m-b-xs">

            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:200px;">id</th>
                        <th>Nama Unit</th>
                        <th>Alamat</th>
                        <th>No Telepon</th>
                        <th>Jumlah Departemen</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="value in listCompanies">
                        <td>{{value.$id}}</td>
                        <td>
                            <a class="text-info" ng-click="Detail(value)">
                            {{value.Name}}
                            </a>
                        </td>
                        <td>
                            {{value.Address}}
                        </td>
                        <td>
                            {{value.Phone}}
                        </td>
                        <td>
                            {{value.ScheId}}
                        </td>
                        <td>
                            {{value.Lat}}
                        </td>
                        <td>
                            {{value.Lon}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    

                </div>
                <div class="col-sm-4 text-center">
                    <!-- <a ng-click="loadMore()" ng-show="showLoadMore()"><small class="text-info inline m-t-sm m-b-sm">Load more...</small></a> -->
                </div>
            </div>
        </footer>
    </div>


    <div class="panel panel-default" ng-show="checkView('Detail')">
        <div class="panel-heading">
            Unit - Detail
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">id</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{comp.$id}}" placeholder="id" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nama Unit</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{comp.Name}}" placeholder="Nama Unit" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Alamat</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{comp.Address}}" placeholder="Alamat" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">No Telepon</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{comp.Phone}}" placeholder="No Telepon" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Jumlah Departemen</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{comp.ScheId}}" placeholder="Jumlah Departemen" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Latitude</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{comp.Lat}}" placeholder="Latitude" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Longitude</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{comp.Lon}}" placeholder="Longitude" disabled>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-default" ng-click="toList()">Cancel</button>
                        <button class="btn btn-info" ng-click="toEdit()">Edit</button>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default" ng-show="checkView('Edit')">
        <div class="panel-heading">
            Unit - Edit
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">id</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{comp.$id}}" placeholder="id" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nama Unit</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="comp.Name" placeholder="Nama Unit">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Alamat</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="comp.Address" placeholder="Alamat">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">No Telepon</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="comp.Phone" placeholder="No Telepon">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Jumlah Departemen</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-mdoel="comp.ScheId" placeholder="Jumlah Departemen">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Latitude</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="comp.Lat" placeholder="Latitude">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Longitude</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="comp.Lon" placeholder="Longitude">
                    </div>
                </div>


                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-default" ng-click="toDetail()">Cancel</button>
                        <button class="btn btn-success" ng-click="update()">Update</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Google Map</div>
        <div id="map_canvas" style="min-height:400px" ui-map="myMap" ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }" ui-options="mapOptions">
        </div>
        <div class="panel-body">
            <h4 class="m-t-none">Click to add a marker!</h4>
            <p>{{zoomMessage}}</p>
            <ul class="list-unstyled list-inline">
                <li ng-repeat="marker in myMarkers">
                    <a class="btn btn-default m-b-sm" ng-click="myMap.panTo(marker.getPosition())">
                  Pan to Marker {{$index}}
                </a>
                </li>
            </ul>

            <!-- this is the confusing part. we have to point the map marker directive
                at an existing google.maps.Marker object, so it can hook up events -->
            <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]" ui-event="{'map-click': 'openMarkerInfo(marker)'}">
            </div>

            <div ui-map-info-window="myInfoWindow">
                <div class="m-b-sm">Marker</div>
                <div class="m-b-sm">
                    <div class="pull-left m-t-xs">Lat: </div>
                    <input ng-model="currentMarkerLat" class="form-control input-sm w-sm m-l-lg">
                </div>
                <div class="m-b-sm">
                    <div class="pull-left m-t-xs">Lng: </div>
                    <input ng-model="currentMarkerLng" class="form-control input-sm w-sm m-l-lg">
                </div>
                <a class="btn btn-default btn-sm m-l-lg m-b-sm" ng-click="setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)">Set Position</a>
            </div>
        </div>
    </div>
</div>
