<div class="hbox hbox-auto-xs bg-light ">
    <div class="panel panel-default">
        <div class="panel-heading">
            Invoice
        </div>
        <div class="row wrapper">
            <img src="img/virgo.png" class="center-block">
            <hr style="margin-top:0px; margin-bottom:0px;">
            <h4 class="text-center"><b>INVOICE NO #010039</b></h4>

            <div class="col-sm-6 m-b-xs" style="font-size:15px;">

                VIRGO TRAVEL &nbsp;&nbsp;<b>0852-2072-1520</b>
                <br> Kapal: <b id="_id88" name="_id88">LAMBELU</b>
                <label class="label bg-success" id="_id175" name="_id175">EKONOMI</label>
                <br> Tanggal Berangkat: <b id="_id96" name="_id96"> Minggu, 27 Juli 2014 12:43 </b>
                <br> Pelayaran: <b id="_id116" name="_id116">Bitung</b> - <b id="_id132" name="_id132">Ternate</b>
                <!-- embarkasi call _id118 debarkasi call _id134  -->
                <br>
                <br> Penanggungjawab: <b>Rio Ciputra</b>
                <div class="form-group input-sm" style="padding-top:15px;">
                    <label class="col-lg-3 control-label">Tipe Booking</label>
                    <div class="col-lg-8">
                        <select class="form-control input-sm" ng-model="newPemasan.Tipe" id="_id158" name="_id158" ng-disabled="lockform">
                            <option value="0">Partial</option>
                            <option value="1">Full</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">


                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Nama Pemesan</label>
                    <div class="col-lg-8">
                        <input id="_id212" name="_id212" type="text" class="form-control input-sm" placeholder="Nama Pemesan" ng-model="newPemasan.NamaPemesan" ng-disabled="lockform">
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">No HP</label>
                    <div class="col-lg-8">
                        <input id="_id217" name="_id217" type="number" class="form-control input-sm" placeholder="No HP" ng-model="newPemasan.Mobile" ng-disabled="lockform">
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Alamat</label>
                    <div class="col-lg-8">
                        <input id="_id222" name="_id222" type="text" class="form-control input-sm" placeholder="Alamat" ng-model="newPemasan.Alamat" ng-disabled="lockform">
                    </div>
                </div>
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Jenis Booking</label>
                    <div class="col-lg-8">
                        <select class="form-control input-sm" ng-model="newPemasan.Jenis" id="_id158" name="_id158" ng-disabled="lockform">
                            <option value="0">Umum</option>
                            <option value="1">Keluarga</option>
                            <option value="2">Single Of Ocupancy</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wrapper">

            <div class="col-sm-3">
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Wanita</label>
                    <div class="col-lg-8">
                        <input id="_id186" name="_id186" type="number" class="form-control input-sm" placeholder="Wanita" ng-model="newPemasan.Wanita" ng-disabled="lockform">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Pria</label>
                    <div class="col-lg-8">
                        <input id="_id191" name="_id191" type="number" class="form-control input-sm" placeholder="Pria" ng-model="newPemasan.Pria" ng-disabled="lockform">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Non-Seat</label>
                    <div class="col-lg-8">
                        <input id="_id196" name="_id196" type="number" class="form-control input-sm" placeholder="NonSeat" ng-model="newPemasan.NonSeat" ng-disabled="lockform">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group input-sm">
                    <label class="col-lg-3 control-label">Bayi</label>
                    <div class="col-lg-8">
                        <input id="_id201" name="_id201" type="number" class="form-control input-sm" placeholder="Bayi" ng-model="newPemasan.Bayi" ng-disabled="lockform">
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered b-t b-dark" style="font-size:12px;">
            <thead>
                <tr>
                    <th style="width:70px;">No</th>
                    <th>Nama Penumpang</th>
                    <th style="width:250px;">Status</th>
                    <th style="width:100px;">Umur (thn/bln)</th>

                    <th style="width:200px;">Harga</th>
                    <th style="width:200px;">Service Fee</th>
                    <th style="width:200px;">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in listPenumpang">
                    <td>
                        <button class="btn btn-default btn-sm" type="button" ng-click="rmPng(key)" ng-hide="listPenumpang.length < 2">-</button>&nbsp;&nbsp;{{key+ 1}}
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Nama Penumpang" ng-model="value.Nama" ng-disabled="lockform">
                    </td>
                    <td>
                        <select class="form-control input-sm" ng-model="value.Status" ng-disabled="lockform">
                            <option value="">-Pilih Status-</option>
                            <option value="Pria">Pria</option>
                            <option value="Wanita">Wanita</option>
                            <option value="Anak">Anak</option>
                            <option value="Bayi">Bayi</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Umur" ng-model="value.Umur" ng-disabled="lockform">
                    </td>
                    <td class="text-right">
                        {{value.Harga}}
                    </td>
                    <td class="text-right">
                        {{value.ServiceFee}}
                    </td>
                    <td class="text-right">
                        {{value.SubTotal}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">
                        <div class="input-group">
                            <button class="btn btn-default btn-sm" type="button" ng-click="tambahPng()" ng-hide="listPenumpang.length > 9">Tambah</button>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group btn-group-justified">
                            <a ng-click="unlockInvoice()" ng-show="lockform" class="btn btn-sm btn-default">Undo</a>
                            <a ng-click="lockInvoice()" ng-hide="lockform" class="btn btn-sm btn-success">Save</a>
                            <a ng-click="printInvoice()" ng-show="lockform" class="btn btn-sm btn-info">PRINT INVOICE</a>
                        </div>


                    </th>
                    <th>
                        Total Harga
                    </th>
                    <th class="text-right">
                        Rp 426,000
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
